.hero-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/img/bg.svg'), linear-gradient(130deg, rgba(20, 0, 50, 0.8), rgba(20, 0, 50, 0.8), rgba(32, 32, 255, 0.769));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-container .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
}

.hero-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}
